@import 'variables';
:host{
  display: flex;
  justify-content: center;
  width: 100%;
}
h2 {
    padding: 3px 15px 3px 15px;
    display: inline-block;
    background: $primary-color;
    border-radius: $border-radius;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: clamp(16px, 3vw, 30px);
    white-space: nowrap;
  }

